body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
nav header {
    color:#f4f4f4;
    text-align: center;
    background-color: #2C3E50;
    padding: 1rem;
}
nav {
    background-color: #333;
    color: white;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: block;
    align-items: center;
    justify-content: center;
    height: auto;
    overflow-y: hidden;
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    overflow-x: auto; /* Allow horizontal scrolling on smaller screens */
    flex-direction: column;
    height: 50vh;
    overflow-y: auto; /* Make the nav list scrollable */
}

nav ul li a {
    color: #f4f4f4;
    text-decoration: none;
    padding: 0.625rem;
    display: block;
    border: 3px solid white;
    letter-spacing: 0.05rem;
}

nav ul li a:hover {
    background-color: #555;
}

#main-doc {
    margin: 0;
    padding: 1.25rem; 
    flex: 1;
}
header {
    color: #333;
    border: 3px solid white;
    font-weight: bold ;
    font-size: 1.25rem;
}

code {
    font-family: monospace;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
/* Sidebar for wider screens */
@media (min-width: 768px) {
    body {
       flex-direction: row;
    }
    nav {
        width: 300px;
        top: 0;
        left: 0;
        position: fixed;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        height: 88vh;
    }

    #main-doc {
        margin-left: 320px;
    }
    nav ul li {
        width: 100%;
    }
}
@media (max-width: 768px) {
    header {
        font-size: 1rem;
    }

    nav ul li a {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}